<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Registro</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signup" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="first_name">Nombre</label>
                <input type="text" id="first_name" name="first_name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="last_name">Apellidos</label>
                <input type="text" id="last_name" name="last_name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="address">Dirección</label>
                <input type="text" id="address" name="address" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="age">Edad</label>
                <input type="number" id="age" name="age" class="form-control">
            </div>
            <div class="form-group">
                <label for="phone_number">Teléfono</label>
                <input type="number" id="phone_number" name="phone_number" class="form-control">
            </div>
            <div class="form-group">
                <label for="user_photo">Foto</label>
                <input type="file" id="user_photo" name="user_photo" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Registrarme</button>
        </form>
    </div>
</div>